In [11]:

alumno = {
    'nombre': 'America Mariely Aguiar Nuño',
    'matricula': '231690547-6',
    'edad': 17,
    'peso': 70,
    'telefono': '555-123-4567',
    'domicilio': 'villa de montalvo',
    'carrera': 'Ciencia de Datos e Inteligencia Artificial'
}


print(alumno)
print()

print(alumno['nombre'])
print(alumno['matricula'])
print()

alumno['nombre'] = 'Maria Gonzalez'
alumno['matricula'] = '231690845-9'
print("Nombre modificado a:", alumno['nombre'])
print("nombre modificado a:", alumno['matricula'])
print()

for clave in alumno:
    print(clave)
print()

for clave, valor in alumno.items():
    print(f"{clave}: {valor}")
print()

print(" Diccionario final ")
print(alumno)

d3 = dict(Nombre='Sara',
          Edad=27,
          Documento=1003882)
print(d3)

{'nombre': 'America Mariely Aguiar Nuño', 'matricula': '231690547-6', 'edad': 17, 'peso': 70, 'telefono': '555-123-4567', 'domicilio': 'villa de montalvo', 'carrera': 'Ciencia de Datos e Inteligencia Artificial'}

America Mariely Aguiar Nuño
231690547-6

Nombre modificado a: Maria Gonzalez
nombre modificado a: 231690845-9

nombre
matricula
edad
peso
telefono
domicilio
carrera

nombre: Maria Gonzalez
matricula: 231690845-9
edad: 17
peso: 70
telefono: 555-123-4567
domicilio: villa de montalvo
carrera: Ciencia de Datos e Inteligencia Artificial

 Diccionario final
{'nombre': 'Maria Gonzalez', 'matricula': '231690845-9', 'edad': 17, 'peso': 70, 'telefono': '555-123-4567', 'domicilio': 'villa de montalvo', 'carrera': 'Ciencia de Datos e Inteligencia Artificial'}
{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}